.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
.editorconfig
.prettierrc
.gitattributes
yarn.lock
yarn-error.log
pnpm-lock.yaml
node_modules/
media/
!media/icon.png
!media/*.svg
