.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
.editorconfig
.prettierrc
.gitattributes
yarn.lock
yarn-error.log
node_modules/
media/
!media/icon.png
azure-pipelines.yml
